h3 {
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.form-container {
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
}

.form-column {
  flex: 1;
}
.button-container{
    margin-top: 10%;
    padding-left: 10%;
}
.button-container button{
    margin-right: 2%;
}